{% extends 'base.html' %}

{% block title %} 
Home Page
{% endblock %} 

{% block body %} 
<section class="bg-sect-home min-vh-100">
    <div class="container pt-5">
        <div class="pt-3">
            <div class="row p-3 mb-4 shadow">
              <div class="col-1">#</div>
              <div class="col-2">User</div>
              <div class="col-3">Music Name</div>
              <div class="col-3">Author</div>
              <div class="col-3"></div>
            </div>
            {% for media in medias %}
            <div id="mus{{media.id}}" class="row p-3 pb-5 m-1 mb-3 shadow-sm">
              <div class="col-1">{{media.id}}</div>
              <div class="col-2">@{{media.user_id|idToName}}</div>
              <div class="col-3">{{media.name}}</div>
              <div class="col-3">{{media.author}}</div>
              <div class="col-3">
                <audio id="audio{{media.id}}" preload="none">
                  <source src="/static/media/{{media.u_name}}" type="audio/mpeg">
                  Your browser does not support the audio element.
                </audio>
                <div class="btn-group">
                  <a href="#" id="control{{media.id}}" class="btn btn-primary"><i class="bi bi-music-note-beamed"></i>  <i class="bi bi-play-circle"></i></a>
                  <a href="#" class="btn btn-primary" onclick="vup{{media.id}}()"><i class="bi bi-volume-up"></i></a>
                  <a href="#" class="btn btn-primary" onclick="vdown{{media.id}}()"><i class="bi bi-volume-down"></i></a>
                </div>
                <span id="au_volume{{media.id}}" class="badge bg-info text-dark">100%</span>
              </div>
              <div class="col-12">
                <div class="progress my-1">
                  <div id="time_line{{media.id}}" class="progress-bar progress-bar-striped bg-danger" role="progressbar" style="width: 0%" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
              </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>
{% endblock %}
{% block script %}
<script>
    var ply = '<i class="bi bi-music-note-beamed"></i>  <i class="bi bi-play-circle"></i>'
    var ps = '<i class="bi bi-music-note-beamed"></i>  <i class="bi bi-pause-circle"></i>'
    {% for media in medias %}
    var aud{{media.id}} = document.getElementById('audio{{media.id}}'),
    ctrl{{media.id}} = document.getElementById('control{{media.id}}');
    aud_vol{{media.id}} = document.getElementById('au_volume{{media.id}}')

    aud{{media.id}}.volume = 0.75;

    ctrl{{media.id}}.onclick = function () {
        var pause{{media.id}} = ctrl{{media.id}}.innerHTML === ps;
        ctrl{{media.id}}.innerHTML = pause{{media.id}} ? ply : ps;
        var method = pause{{media.id}} ? 'pause' : 'play';
        aud{{media.id}}[method]();
        return false;
    };
    aud{{media.id}}.onended = function() {
      ctrl{{media.id}}.innerHTML = ply;
      document.getElementById("time_line{{media.id}}").style.width = "0%"
    };
    aud{{media.id}}.ontimeupdate = function() {
      document.getElementById("time_line{{media.id}}").style.width = Math.round((aud{{media.id}}.currentTime/aud{{media.id}}.duration)*100)+"%";
    };
    aud{{media.id}}.addEventListener('volumechange', (event) => {
      aud_vol{{media.id}}.innerHTML = Math.round(aud{{media.id}}.volume * 100)+'%';
      $('html, body').animate({
        scrollTop: $("#mus{{media.id}}").offset().top
      }, 500);
    });
    function vup{{media.id}}() {
      if (aud{{media.id}}.volume < 1.0) {
        aud{{media.id}}.volume += 0.05;
      }
    }
    function vdown{{media.id}}() {
      if (aud{{media.id}}.volume > 0.0) {
        aud{{media.id}}.volume -= 0.05;
      }
    }
    {% endfor %}
</script>
{% endblock %}