{% extends 'base.html' %}

{% block title %} 
World2 Music
{% endblock %} 

{% block body %} 
<section class="bg-sect-home min-vh-100">
    <div class="container pt-5">
        <div class="pt-3">
            <div class="row p-3 mb-4 shadow">
              <div class="col-lg-3 col-md-4 col-sm-3 d-none d-sm-block">User</div>
              <div class="col-lg-3 col-md-4 col-sm-5 col-6">Music Name</div>
              <div class="col-lg-3 col-md-4 col-sm-4 col-6">Author</div>
              <div class="col-lg-3 d-none d-lg-block"></div>
            </div>
            {% if medias  is defined and medias != None%}
            {% for media in medias %}
            <div id="mus{{media.id}}" class="row p-3 pb-5 m-1 mb-3 shadow-sm">
              <div class="mb-1 text-truncate col-lg-3 col-md-4 col-sm-3 d-none d-sm-block"><a class="btn btn-secondary" href="{{url_for('__bp_web__.user_home', uid=media.user_id)}}" title="Uploaded by {{media.user_id|idToName}}">@{{media.user_id|idToName}}</a></div>
              <div class="mb-1 border border-warning rounded text-truncate col-lg-3 col-md-4 col-sm-5 col-6">{{media.name}}</div>
              <div class="mb-1 border border-warning rounded text-truncate col-lg-3 col-md-4 col-sm-4 col-6">{{media.author}}</div>
              <div class="mb-1 col-lg-3 col-12 text-center">
                <audio id="audio{{media.id}}" preload="none">
                  <source src="{{ url_for('__bp_web__.static', filename='media/'+media.u_name) }}" type="audio/mpeg">
                  Your browser does not support the audio element.
                </audio>
                <div class="btn-group" role="group" aria-label="Music Controls">
                  <button id="control{{media.id}}" class="btn btn-primary"><i class="bi bi-music-note-beamed"></i>  <i class="bi bi-play-circle"></i></button>
                  <button class="btn btn-primary" onclick="vup{{media.id}}()"><i class="bi bi-volume-up"></i></button>
                  <button class="btn btn-primary" onclick="vdown{{media.id}}()"><i class="bi bi-volume-down"></i></button>
                </div>
                <span id="au_volume{{media.id}}" class="badge bg-info text-dark"></span>
              </div>
              <div class="col-lg-12">
                <div class="progress my-1">
                  <div id="time_line{{media.id}}" class="progress-bar progress-bar-striped progress-bar-animated bg-danger" role="progressbar" style="width: 0%" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
              </div>
            </div>
            {% endfor %}
            {% endif %}
        </div>
    </div>
</section>
{% endblock %}
{% block script %}
<script>
    var ply = '<i class="bi bi-music-note-beamed"></i>  <i class="bi bi-play-circle"></i>'
    var ps = '<i class="bi bi-music-note-beamed"></i>  <i class="bi bi-pause-circle"></i>'
    {% for media in medias %}
    var aud{{media.id}} = document.getElementById('audio{{media.id}}'),
    ctrl{{media.id}} = document.getElementById('control{{media.id}}');
    aud_vol{{media.id}} = document.getElementById('au_volume{{media.id}}')

    aud{{media.id}}.volume = 0.75;

    ctrl{{media.id}}.onclick = function () {
        var pause{{media.id}} = ctrl{{media.id}}.innerHTML === ps;
        ctrl{{media.id}}.innerHTML = pause{{media.id}} ? ply : ps;
        var method = pause{{media.id}} ? 'pause' : 'play';
        aud{{media.id}}[method]();
        return false;
    };
    aud{{media.id}}.onended = function() {
      ctrl{{media.id}}.innerHTML = ply;
      document.getElementById("time_line{{media.id}}").style.width = "0%"
    };
    aud{{media.id}}.ontimeupdate = function() {
      var prog{{media.id}} = Math.round((aud{{media.id}}.currentTime/aud{{media.id}}.duration)*100)+"%";
      document.getElementById("time_line{{media.id}}").style.width = prog{{media.id}};
      document.getElementById("time_line{{media.id}}").innerHTML = prog{{media.id}};
    };
    aud{{media.id}}.addEventListener('volumechange', (event) => {
      aud_vol{{media.id}}.innerHTML = Math.round(aud{{media.id}}.volume * 100)+'%';
    });
    function vup{{media.id}}() {
      if (aud{{media.id}}.volume < 1.0) {
        aud{{media.id}}.volume += 0.05;
      }
    }
    function vdown{{media.id}}() {
      if (aud{{media.id}}.volume > 0.0) {
        aud{{media.id}}.volume -= 0.05;
      }
    }
    {% endfor %}
</script>
{% endblock %}