{% extends 'base.html' %}

{% block title %} 
Home Page
{% endblock %} 

{% block body %} 
<section class="bg-sect-home vh-100">
    <div class="container">
        <div class="pt-3">
            <table class="table">
                <thead>
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">User</th>
                    <th scope="col">Music Name</th>
                    <th scope="col">Author</th>
                    <th scope="col"></th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th scope="row">1</th>
                    <td>Mark</td>
                    <td>Otto</td>
                    <td>@mdo</td>
                    <td> <a href="" class="btn btn-primary"><i class="bi bi-music-note-beamed"></i>  <i class="bi bi-play-circle"></i></a></td>
                  </tr>
                </tbody>
              </table>
        </div>
    </div>
</section>
{% endblock %}