{% extends 'base.html' %}

{% block title %} 
Login Page
{% endblock %} 

{% block body %} 
<section class="bg-sect-home vh-100">
    <div class="container">
        <form class="py-5" action="{{url_for('login_user')}}", method="POST">
            <div class="mb-3">
              {{form.email.label(class="form-label")}}
              {{form.email}}
            </div>
            <div class="mb-3">
              {{form.password.label(class="form-label")}}
              {{form.password}}
            </div>
            <div class="mb-3 form-check">
              {{form.accept_tos}}
              {{form.accept_tos.label(class="form-check-label")}}
            </div>
            <button type="submit" class="btn btn-primary">Login</button>
          </form>
    </div>
</section>
{% endblock %}