{% extends 'base.html' %}

{% block title %} 
Register Page
{% endblock %} 

{% block body %} 
<section class="bg-sect-home vh-100">
    <div class="container">
        <form class="py-5" action="{{url_for('reg_user')}}", method="POST">
            <div class="mb-3">
                {{form.username.label(class="form-label")}}
                {{form.username}}
              </div>
            <div class="mb-3">
              {{form.email.label(class="form-label")}}
              {{form.email}}
            </div>
            <div class="mb-3">
              {{form.password.label(class="form-label")}}
              {{form.password}}
            </div>
            <div class="mb-3">
                {{form.confirm.label(class="form-label")}}
                {{form.confirm}}
              </div>
              <div>
                <input type="hidden" name="csrf_token" id="csrf_token" value="{{csrf_token}}">
              </div>
            {{form.submitbutton(class="btn btn-primary me-5")}} OR <a href="{{url_for('login_user')}}" class="btn btn-secondary ms-5">Login</a>
          </form>
    </div>
</section>
{% endblock %}