{% extends 'base.html' %}

{% block title %} 
Upload Music
{% endblock %} 

{% block body %} 
<section class="bg-sect-home vh-100">
    <div class="container">
      <form class="py-5" action="{{url_for('upload_file')}}", method="POST" enctype=multipart/form-data>
        <div class="mb-3">
          {{form.music_name.label(class="form-label")}}
          {{form.music_name}}
        </div>
        <div class="mb-3">
          {{form.music_author.label(class="form-label")}}
          {{form.music_author}}
        </div>
        <div class="mb-3">
            {{form.music_file.label(class="form-label")}}
            {{form.music_file}}
        </div>
        <div>
          <input type="hidden" name="csrf_token" id="csrf_token" value="{{csrf_token}}">
        </div>
        <div class="row">
          <div class="col-9">
            <div class="form-check">
              {{form.music_is_public}}
              {{form.music_is_public.label(class="form-check-label ms-3")}}  
            </div>
          </div>
          <div class="col-3 text-end">
            {{form.submitbutton(class="btn btn-primary me-0")}} 
          </div>
        </div>
      </form>
    </div>
</section>
{% endblock %}